---
title: ESLint - Pluggable JavaScript linter
layout: default
permalink: index.html
homepage: true
---

<div class="row">
    <div class="col-md-4">
        <h3>查找问题</h3>
        <p>ESLint 会静态分析你的代码，以快速发现代码中存在的问题。ESLint 内置在大部分文本编辑器中，你可以把 ESLint 作为 CI 流程中的一部分运行。</p>
    </div>
    <div class="col-md-4">
        <h3>自动修复</h3>
        <p>ESLint 发现的绝大多数问题都可以被自动修复。ESLint 的修复会对语法进行感知，因此，你不会遇到传统查找和替换算法引入的错误。</p>
    </div>
    <div class="col-md-4">
        <h3>个性化</h3>
        <p>预处理代码，可以使用自定义解析器，还可以编写你自己的规则，与 ESLint 内置的规则协同工作。你可以定制 ESLint，使其完全按照你项目需要的方式工作。</p>
    </div>
</div>

<hr class="hr-near-below">
{% assign tiers = "platinum,gold,silver,bronze,backers" | split: "," %}
{% assign monthlyTotal = 0 %}
{% assign supportersCount = 0 %}
{% for tier in tiers %}
    {% if sponsors[tier].size > 0 %}
        {% for sponsor in sponsors[tier] %}
            {% assign supportersCount = supportersCount | plus: 1 %}
            {% assign monthlyTotal = monthlyTotal | plus: sponsor.monthlyDonation %}
        {% endfor %}
    {% endif %}
{% endfor %}
{% assign monthlyTotal = monthlyTotal | divided_by: 100 %}

<div class="sponsors row">
  <div class="col-sm-12">
    <h2 class="text-center">赞助商</h2>
    <p class="sponsor-desc text-center">总数为 {{ supportersCount }} 的公司，组织和个人目前每月会捐赠 <b>${{ monthlyTotal }}</b> 以支持 ESLint 的持续维护与发展</p>
    <p class="sponsor-btn text-center"><a class="btn btn-default" href="https://opencollective.com/eslint">成为赞助商！</a></p>
    <div class="sponsor-tiers">
      {% assign tiers = "platinum,gold,silver,bronze" | split: "," %}
      {% for tier in tiers %}
          {% if sponsors[tier].size > 0 %}
              <h4 class="sponsor-heading text-center">{{ tier | capitalize }} 赞助商 </h4>
              <div class="sponsor-tier text-center">
                  {% for sponsor in sponsors[tier] %}
                    <a class="sponsor-link" href="{{ sponsor.url }}" title="{{ sponsor.name }}" rel="noopener nofollow sponsored" target="_blank">
                      <div class="sponsor {{ tier }}-sponsor">
                        <img class="lazyload" data-src="{{ sponsor.image }}" alt="{{ sponsor.name }}">
                      </div>
                    </a>
                  {% endfor %}
              </div>
          {% endif %}
      {% endfor %}
      <h4 class="sponsor-heading text-center">技术赞助商</h4>
      <div class="sponsor-tier text-center">
        {% for sponsor in techsponsors %}
        <a class="sponsor-link" href="{{ sponsor.url }}" title="{{ sponsor.name }}" rel="noopener nofollow sponsored" target="_blank">
            <div class="sponsor silver-sponsor">
            <img class="lazyload" data-src="{{ sponsor.image }}"
                alt="{{ sponsor.donation | capitalize }} provided by {{ sponsor.name }}"
                title="{{ sponsor.donation | capitalize }} provided by {{ sponsor.name }}">
            </div>
        </a>
        {% endfor %}
      </div>
    </div>
    <p class="sponsor-btn text-center"><a class="btn btn-default" href="https://opencollective.com/eslint">现在就成为赞助商吧！</a></p>
  </div>
</div>

<hr class="hr-near-below">

<div class="row">
    <div class="col-sm-12">
        ESLint 基于 <a href="http://nodejs.org">Node.js</a>，所以可以运行在 <span itemprop="operatingSystem">Windows</span>，<span itemprop="operatingSystem">Mac</span> 和 <span itemprop="operatingSystem">Linux</span> 之上。
    </div>
</div>
