---
title: Team
layout: doc
ad: text
---

<h1>团队</h1>
<p>这些都是建立和维护 ESLint 的人。</p>
<h2>技术指导委员会</h2>
<p>他们负责管理发布，审查功能请求，并定期开会以确保 ESLint 得到适当维护。</p>
<div class="container-fluid">
    <div class="row">
        {% for person in team.tsc %}
            <div class="col-xs-6 col-sm-4 col-md-3 text-center" style="margin-bottom: 2rem">
            <a href="https://github.com/{{ person.username }}"><img src="https://github.com/{{person.username}}.png?s=150" width="150"></a><br>
            {{ person.name }}<br><a href="https://github.com/{{ person.username }}">@{{ person.username }}</a>
            </div>
        {% endfor %}
    </div>
</div>
{% if team.reviewers.size > 0 %}
    <h2>审核者</h2>
    <p>审查和实现新功能的人。</p>
    <div class="container-fluid">
        <div class="row">
            {% for person in team.reviewers %}
                <div class="col-xs-6 col-sm-4 col-md-3 text-center" style="margin-bottom: 2rem">
                <a href="https://github.com/{{ person.username }}"><img src="https://github.com/{{person.username}}.png?s=150" width="150"></a><br>
                {{ person.name }}<br><a href="https://github.com/{{ person.username }}">@{{ person.username }}</a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endif %}
{% if team.committers.size > 0 %}
    <h2>提交者</h2>
    <p>审查和修复错误以及帮助分流问题的人。</p>
    <div class="container-fluid">
        <div class="row">
            {% for person in team.committers %}
                <div class="col-xs-6 col-sm-4 col-md-3 text-center" style="margin-bottom: 2rem">
                <a href="https://github.com/{{ person.username }}"><img src="https://github.com/{{person.username}}.png?s=150" width="150"></a><br>
                {{ person.name }}<br><a href="https://github.com/{{ person.username }}">@{{ person.username }}</a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endif %}
{% if team.alumni.size > 0 %}
    <h2>历史贡献者</h2>
    <p>前 TSC 成员和以前帮助维护 ESLint 的提交者。</p>
    <div class="container-fluid">
        <div class="row">
        {% for person in team.alumni %}
            <div class="col-xs-6 col-sm-4 col-md-3 text-center" style="margin-bottom: 2rem">
            <a href="https://github.com/{{ person.username }}"><img src="https://github.com/{{person.username}}.png?s=150" width="150"></a><br>
            {{ person.name }}<br><a href="https://github.com/{{ person.username }}">@{{ person.username }}</a>
            </div>
        {% endfor %}
        </div>
    </div>
{% endif %}
